<ion-header>
  <ion-navbar>
    <ion-title> Super Bolão </ion-title>
    <ion-buttons end>
      <!-- Ver os vencedores -->
      <button ion-button icon-only clear>
        <ion-icon name="trophy"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-buttons>
    <button ion-button outlines full round (click)="createBolao()">
      Criar bolão
    </button>
  </ion-buttons>

  <!--Lista com os bolões já criados-->

  <!-- Lista dos bolões que aceitam aposta -->
  <ion-item padding-top text-left> Bolões para apostas </ion-item>
  
  <ion-list>
    <!-- Cada bolão será apresentado como um card-->
    <ion-card *ngFor="let b of openBoloes">

      <!-- Titulo do card-->
      <ion-card-header>
        <ion-item text-left>
          {{ b.time1 }} vs {{ b.time2 }}
          <button ion-button clear round 
                  item-end icon-only color="danger" 
                  (click)="closeBolao(b.id)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
      </ion-card-header>

      <!-- Conteúdo chave do bolão-->
      <ion-card-content>

        <!--Horário e Dia do Jogo-->
        <p>Dia {{ b.date }} às {{ b.time }}</p>
        <p>Prêmio em <strong>R$ {{ b.premio }}</strong></p>
        <p>Aposta Mínima: R$ {{ b.minValue }}</p>

        <!-- Detalhes do Bolão -->
        <button ion-button outline icon-end (click)="goToBolao(b)">
          Ver
          <ion-icon name="open"></ion-icon>
        </button>

        <!-- Gerar uma nova aposta -->
        <button ion-button outline icon-end (click)="addBet(b)">
          Apostar
          <ion-icon name="add"></ion-icon>
        </button>

      </ion-card-content>
    </ion-card>
  </ion-list>

  <!--Lista com os bolões fechados-->
  <ion-item padding-top text-left> Bolões Fechados </ion-item>

  <ion-list>
    <!-- Cada bolão será apresentado como um card-->
    <ion-card *ngFor="let b of closedBoloes">

      <!-- Titulo do card-->
      <ion-card-header>
        <ion-item text-left>
          {{ b.time1 }} vs {{ b.time2 }}
          <button ion-button clear round 
                  item-end icon-only color="danger" 
                  (click)="closeBolao(b.id)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
      </ion-card-header>

      <!-- Conteúdo chave do bolão-->
      <ion-card-content>

        <!--Horário e Dia do Jogo-->
        <p>Dia {{ b.date }} às {{ b.time }}</p>
        <p>Prêmio em <strong>R$ {{ b.award }}</strong></p>
        <p>Aposta Mínima: R$ {{ b.minValue }}</p>

        <!-- Detalhes do Bolão -->
        <button ion-button outline icon-end (click)="goToBolao(b)">
          Ver
          <ion-icon name="open"></ion-icon>
        </button>

        <!-- Atualizar o placar do jogo -->
        <button ion-button outline icon-end (click)="addScoreboard(b.id)">
          Placar
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>

      </ion-card-content>
    </ion-card>
  </ion-list>
  
</ion-content>
